{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Departments{% endblock %}</h1>
  {% if g.user %}
    <a class="btn btn-primary" href="{{ url_for('departments.create') }}">Add</a>
  {% endif %}
{% endblock %}

{% block content %}
<table class="table table-striped">
                    <thead class="fw-bold">
                    <tr>
                    <td>#</td>
                    <td>Dept name</td>
                    <td>View</td>
                    <td># employees</td>
                    <td>Avg salary, $</td>
                    <td>Edit</td>
                    <td>Delete</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for department in departments %}
                    <tr>
                    <td>{{ department['id'] }}</td>
                    <td>{{ department['department'] }}</td>
                    <td><button class="btn btn-outline-primary">View</button></td>
                    <td>empl</td>
                    <td>avg</td>
                    <td><button class="btn btn-outline-primary" href="{{ url_for('departments.update', id=department['id']) }}">Edit</button></td>
                    <td><button class="btn btn-outline-danger" href="{{ url_for('departments.delete', id=department['id']) }}">Delete</button></td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>

{% endblock %}