{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Employee{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form id="add-employee" action="{{ url_for('employees.create') }}" method="POST">
        {{form.hidden_tag()}}
      <div class="form-group m-3">
          {{ form.name.label() }}
          {{ form.name(class="form-control", placeholder="Full Name") }}
          {{ form.department.label() }}
        {{ form.department(class="form-select", placeholder="Department") }}
        {{ form.position.label() }}
        {{ form.position(class="form-control", placeholder="Position") }}
        {{ form.dob.label() }}
        {{ form.dob(class="form-control", placeholder="Birthdate") }}
        {{ form.salary.label() }}
        {{ form.salary(class="form-control", placeholder="Salary") }}
        {{ form.submit(class="btn btn-primary") }}
      </div>
  </form>
{% endblock %}