{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Employees{% endblock %}</h1>
  <a class="btn btn-primary" href="{{ url_for('employees.create') }}">Add</a>
{% endblock %}

{% block content %}
<table class="table table-striped">
                    <thead class="fw-bold">
                    <tr>
                    <td>#</td>
                    <td>Name</td>
                    <td>Position</td>
                    <td>Department</td>
                    <td>D.O.B.</td>
                    <td>Salary</td>
                    <td>Edit</td>
                    <td>Delete</td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for employee in employees %}
                    <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ employee['name'] }}</td>
                    <td>{{ employee['position'] }}</td>
                    <td>{{ employee['department'] }}</td>
                    <td>{{ employee['dob'] }}</td>
                    <td>{{ employee['salary'] }}</td>
                    <td><a class="btn btn-outline-primary" href="{{ url_for('employees.update', id=employee['id']) }}">Edit</a></td>
                    <td>
                        <form action="{{ url_for('employees.delete', id=employee['id']) }}" method=post>
                            <input type=submit class="btn btn-outline-danger" value=Delete>
                        </form>
                    </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    </table>

{% endblock %}