{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit Employee{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form id="edit-employee" method="post" action="{{ url_for('employees.update', uuid=employee['uuid']) }}">
       {{form.hidden_tag()}}
      <div class="form-group m-3">
          {{ form.name.label() }}
          {{ form.name(class="form-control", placeholder="Full Name") }}
          {{ form.department.label() }}
          {{ form.department(class="form-select", placeholder="Department") }}
          {{ form.position.label() }}
          {{ form.position(class="form-control", placeholder="Position") }}
          {{ form.dob.label() }}
          {{ form.dob(class="form-control", placeholder="Birthdate") }}
          {{ form.salary.label() }}
          {{ form.salary(class="form-control", placeholder="Salary") }}
          {{ form.submit(class="btn btn-primary") }}
      </div>
  </form>
{% endblock %}


